<!DOCTYPE html>

<main class="flex flex-row h-screen">
  <div class="flex w-[150px] flex-col bg-black max-h-screen">
    <a mat-list-item routerLink="/dashboard">Dashboard</a>
    <a mat-list-item routerLink="/boostableboss">Boostable Bosses</a>
  </div>

  <div class="flex flex-col w-screen overflow-y-auto">
    <!-- <div class="flex flex-row justify-between p-6 bg-black text-white">
      <p>logo</p>
      <p>menu</p>
    </div> -->
    <router-outlet />
  </div>
</main>

<!-- <app-boostableboss></app-boostableboss> -->
