<!-- <div class="flex flex-col p-6">
  <mat-divider></mat-divider>
</div> -->
<div class="grid md:grid-cols-3 auto-rows-auto overflow-y-auto p-3">
  <div
    class="flex flex-row justify-between items-center rounded-xl shadow-md p-6"
  >
    <div>
      <img [src]="boostableBossesListData[0].image_url" />
    </div>
    <div class="flex flex-col justify-end items-end">
      <h1
        class="text-[50px]"
        *ngIf="boostableBossesListData.length; else loading"
      >
        {{ boostableBossesListData.length }}
      </h1>
      <ng-template #loading class="flex">
        <mat-spinner diameter="30"> </mat-spinner
      ></ng-template>
      <p>Boostable Bosses</p>
    </div>
  </div>
  <!-- <mat-card
    *ngFor="let boss of boostableBossesListData"
    class="flex flex-col justify-between items-center p-3 m-3"
  >
    <img mat-card-image [src]="boss.image_url" class="max-w-xl" />
    <mat-card-subtitle>{{ boss.name }}</mat-card-subtitle>
    <mat-card-content>
      <p *ngIf="boss.featured"></p>
    </mat-card-content>
  </mat-card> -->
</div>
